inst/doc
docs/
bin
.idea
*.Rproj
*.png
!man/figures/logo.png
!man/figures/documentation-*.png
!man/figures/documentation-*.svg
!vignettes/figures/documentation-*.png
!pkgdown/favicon/*.png
.Rproj.user
.Rhistory
.RData
.Ruserdata
Rplots.pdf
.Renviron
.env
.DS_Store
*.Rcheck
*.tar.gz
*.o
*.so
*.dll
*.dylib
*.exe
